{% extends 'homebase.html.twig' %}

{% block title %}about Us | {{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}}{% endblock %}

{% block body %}


    <div class="responsive-menu">
        <a href="" class="responsive-menu-close"><i class="ion-android-close"></i></a>
        <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
    </div> <!-- end .responsive-menu -->
    <div class="page-title" style="background-image: url('{{asset('assets')}}/images/background01.jpg');">
        <div class="inner">
            <div class="container">
                <div class="title">About Us</div> <!-- end .title -->
            </div> <!-- end .container -->
        </div> <!-- end .inner -->
    </div> <!-- end .page-title -->

    <section class="section white">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7">
                        <img src="{{asset('assets')}}/images/about3.jpg" alt="about" class="img-responsive">
                    </div> <!-- end .col-sm-7 -->
                    <div class="column-spacer"></div>
                    <div class="col-sm-5">


                        Temelleri 2019 yılında atılan Automan Holding, değişimin hep bir adım önünde giderek sadece Türkiye'nin değil Avrupa'nın da en büyük ve başarılı gruplarından biri haline geldi. Tüm faaliyetlerinde uluslararası standartlara uyum ve sürekli gelişim amacını gözeten Automan Topluluğu, ülkesinde yakaladığı başarıyı dünyada yakalama hedefine adım adım ilerleyen bir dünya oyuncusu.​
                        <br><br>
                        <h4 style="color: red">Hedef ve İlkeler:</h4>
                        Automan Topluluğu, ''Gücümüzü aldığımız Türk ekonomisine, güç katmayı hedef alırız'' düsturu ile faaliyetlerini sürdürüyor. ​


                        {{ setting[0].aboutus | raw }}
                        {#                        <h5 class="xsmall-heading"><strong>What We Are</strong></h5>#}
                        {#                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>#}
                        {#                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>#}
                        {#                    </div> <!-- end .col-sm-5 -->#}
                    </div>
                </div> <!-- end .container -->
            </div> <!-- end .inner -->
    </section> <!-- end .section -->

    <section class="section light">
        <div class="inner">
            <div class="container">
                <div id="team-slider" class="owl-carousel team-slider">
                    <div class="item">
                        <div class="team-member" style="background-image: url('{{asset('assets')}}/images/team01.jpg');">
                            <div class="about">
                                <span class="name">John Smith</span><span class="title">Selling Team Head</span>
                                <div class="social-icons">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </div> <!-- end .social-icons -->
                            </div> <!-- end .about -->
                        </div> <!-- end .team-member -->
                    </div> <!-- end .item -->
                    <div class="item">
                        <div class="team-member" style="background-image: url('{{asset('assets')}}/images/team02.jpg');">
                            <div class="about">
                                <span class="name">John Smith</span><span class="title">Selling Team Head</span>
                                <div class="social-icons">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </div> <!-- end .social-icons -->
                            </div> <!-- end .about -->
                        </div> <!-- end .team-member -->
                    </div> <!-- end .item -->
                    <div class="item">
                        <div class="team-member" style="background-image: url('{{asset('assets')}}/images/team03.jpg');">
                            <div class="about">
                                <span class="name">John Smith</span><span class="title">Selling Team Head</span>
                                <div class="social-icons">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </div> <!-- end .social-icons -->
                            </div> <!-- end .about -->
                        </div> <!-- end .team-member -->
                    </div> <!-- end .item -->
                    <div class="item">
                        <div class="team-member" style="background-image: url('{{asset('assets')}}/images/team04.jpg');">
                            <div class="about">
                                <span class="name">John Smith</span><span class="title">Selling Team Head</span>
                                <div class="social-icons">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </div> <!-- end .social-icons -->
                            </div> <!-- end .about -->
                        </div> <!-- end .team-member -->
                    </div> <!-- end .item -->
                    <div class="item">
                        <div class="team-member" style="background-image: url('{{asset('assets')}}/images/team02.jpg');">
                            <div class="about">
                                <span class="name">John Smith</span><span class="title">Selling Team Head</span>
                                <div class="social-icons">
                                    <a href=""><i class="fa fa-google-plus"></i></a>
                                    <a href=""><i class="fa fa-facebook"></i></a>
                                    <a href=""><i class="fa fa-twitter"></i></a>
                                </div> <!-- end .social-icons -->
                            </div> <!-- end .about -->
                        </div> <!-- end .team-member -->
                    </div> <!-- end .item -->
                </div> <!-- end .team-slider -->
            </div> <!-- end .container -->
        </div> <!-- end .inner -->
    </section> <!-- end .section -->

    <section class="section white">
        <div class="inner">
            <div class="container">
                <h1 class="main-heading">What are you looking for?<small>Best Car Deals</small></h1>
                <div class="services clearfix">
                    <div class="service yellow">
                        <div class="icon">
                            <i class="icon-minicar"></i>
                            <div class="sub-icon">$</div> <!-- end .sub-icon -->
                        </div> <!-- end .icon -->
                        <div class="line"></div> <!-- end .line -->
                        <h5>Car Sale</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div> <!-- end .service -->
                    <div class="service orange">
                        <div class="icon">
                            <i class="icon-sports-car"></i>
                            <div class="sub-icon"><i class="ion-key"></i></div> <!-- end .sub-icon -->
                        </div> <!-- end .icon -->
                        <div class="line"></div> <!-- end .line -->
                        <h5>Car Buy</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div> <!-- end .service -->
                    <div class="service green">
                        <div class="icon">
                            <i class="icon-monster-truck"></i>
                            <div class="sub-icon">R</div> <!-- end .sub-icon -->
                        </div> <!-- end .icon -->
                        <div class="line"></div> <!-- end .line -->
                        <h5>Car On Rent</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                    </div> <!-- end .service -->
                </div> <!-- end .services -->
            </div> <!-- end .container -->
        </div> <!-- end .inner -->
    </section> <!-- end .section -->

{% endblock %}
